#login_account_header{
    font-size: 1.6rem;
    color: black;
}
#orderPage_buttons{
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: Montserrat,sans-serif; 
  font-size: 1em;
  font-weight: 500;
  margin: 5px;
  padding: 6px 25px;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  border-radius: 20px;
  touch-action: manipulation;
}
.button_mark{
  background-image: linear-gradient(#e2e9e7, #a9b0b8);
}
.button_Delete{
  background-image: linear-gradient(#ff9b05, #ea140d);  
}
.sign_in_button {
    appearance: none;
    background-color:black;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 4px rgba(0, 0, 0,.5);
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 10px;
  }
  
  .sign_in_button:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #ff7300;
    border-radius: 10px;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .sign_in_button:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  .sign_in_button span {
    z-index: 1;
    font-weight: 900;
    position: relative;
  }