#home_page,.About_page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top:50px;
  width: 100%;
  flex-direction: column;
  background-color: #fae68e;
}
#Heading{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  gap: 2rem;
  padding: 1rem;
}
#Heading #first_child{
  flex:1 0 8rem;
}
#Heading #second_child{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1 0 8rem;
}
#Heading img{
  display: grid;
  border-radius: 100px;
}
#head{
  text-align: left;
  font-size: 3rem;
}
#head span{
  color: #ff7300;
  border-bottom: 2px solid #48ff00;
}
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#sample_recepie{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  max-width:60% ;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#sample_recepie div{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
#sample_recepie div div{
  display: flex;
  flex: 1 0 8rem;
  flex-direction: column;
  gap: 0px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
#sample_recepie div div h2{
  font-size: 1rem;
}
#sample_recepie div div p{
  font-size: .8rem;
  color: #222;
}
#sample_recepie div img{
  height: 200px;
  width: 200px;
}
#people_choose{
  padding: 4rem;
  margin-top: -3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
#people_choose img{
  flex:1 0 20rem;
  width: 40%;
}
#people_choose div{
  display: flex;
  flex:1 0 20rem;
  width: 50%;
  gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
h4{
  text-align: center;
  font-size:2rem;
  font-weight: 700;
}
#people_choose div div{
  width: 100%;
}
#people_choose div div  p{
  font-size: 1rem;
  color: #313030;
}
#people_choose div div #head{
  font-size: 1.5rem;
  font-weight: 600;
}
.custome_support h5{
  margin-top:-3rem ;
  font-size: 2rem;
}
.custome_support h5 span{
  color: #ff0000;
}
#custome_support{
  display: flex;
  margin-top: -4rem;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
#custome_support img{
  flex: 1 0 20rem;
  object-fit: contain;
  height: 300px;
}
#custome_support div{
  flex: 1 0 20rem;
  width: 70%;
}

#Footer_link{
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  flex: 1 0 8rem;
  color: #111;
}
